@page
@model RazorPagesExampleP34.Pages.SkillEditModel
@{
    var person = Model.Person;
    ViewData["Title"] = $"Update Skill for {person.FirstName} {person.LastName}";
}

<div class="row">
    <div class="col-md-4">
        <p>
            Hello! My name is @person.FirstName @person.LastName, and I am a @person.Profession.
        </p>
        <p>
            My birthday: @person.BirthDate.ToString("dd.MM.yyyy")
        <p>
    </div>

    <div class="col-md-8">

        <form method="post">
            <div class="form-group">
                <label asp-for="Skill.Title"></label>
                <input asp-for="Skill.Title" class="form-control" />
                <span asp-validation-for="Skill.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Skill.Proficiency"></label>
                <input asp-for="Skill.Proficiency"
                       type="number" min="0" max="100" step="1"
                       class="form-control" />
                <span asp-validation-for="Skill.Proficiency" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <button type="submit" class="btn btn-success">Save</button>
                <a class="btn btn-primary" asp-page="/PersonSkills" asp-route-id="@person.Id">Back to Skill List</a>
            </div>

        </form>


    </div>

</div>

